<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzsys.modules.yun.mapper.DictionaryBaseMapper">

  <resultMap id="BaseResultMap" type="java.util.Map">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="IDENTITY_TYPE" jdbcType="VARCHAR" property="identityType" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
    <result column="IDENTIFIER" jdbcType="VARCHAR" property="identifier" />
    <result column="CERTIFICATE" jdbcType="VARCHAR" property="certificate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>

  <insert id="insert" parameterType="java.util.Map">
    insert into ${table}(
    <foreach collection="InsertMap" item="InsertMapkey" index="key"
             separator=" , ">
      ${InsertMapkey}
    </foreach>
    )
    <foreach collection="InsertMapVal" item="itemInsertMapVal" separator=" union all ">
      (
      select
      <foreach collection="itemInsertMapVal" item="itemInsertMapValson" separator=",">
        #{itemInsertMapValson}
      </foreach>
      from dual)
    </foreach>
  </insert>

  <update id="update" parameterType="java.util.Map">
    <foreach collection="whereMap" item="itemWhereMap" index="keyWhereMap" close=";end;" open="begin" separator=";">
      update ${table} set
      <foreach collection="setMap" item="itemSetMap" index="keySetMap">
        <foreach collection="itemSetMap" item="sp" index="spk" separator=",">
          <choose>
            <when test="keySetMap==keyWhereMap">
              ${spk}#{sp}
            </when>
          </choose>

        </foreach>
      </foreach>
      where 1=1 and
      <foreach collection="itemWhereMap" item="wp" index="wpk"
               separator=" and">
        ${wpk}#{wp}
      </foreach>
    </foreach>

  </update>
</mapper>