<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzsys.modules.yun.mapper.HealthDictEnteryMapper">

  <resultMap id="BaseResultMap" type="com.gzsys.modules.yun.entity.HealthDictEntery">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="DICT_TYPE_ID" jdbcType="VARCHAR" property="dictTypeId" />
    <result column="DICT_ENTRY_CODE" jdbcType="VARCHAR" property="dictEntryCode" />
    <result column="DICT_ENTRY_NAME" jdbcType="VARCHAR" property="dictEntryName" />
    <result column="DICT_ENTRY_RANK" jdbcType="VARCHAR" property="dictEntryRank" />
    <result column="DICT_ENTRY_VALUE" jdbcType="VARCHAR" property="dictEntryValue" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="DICT_ENTRY_SORT_NO" jdbcType="DECIMAL" property="dictEntrySortNo" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, APP_ID, DICT_TYPE_ID, DICT_ENTRY_CODE, DICT_ENTRY_NAME, DICT_ENTRY_RANK, DICT_ENTRY_VALUE, 
    CREATE_TIME, CREATE_NAME, UPDATE_TIME, UPDATE_NAME, STATE, DICT_ENTRY_SORT_NO
  </sql>
  
  <!-- 根据数据字典类型代码查询字典键值 -->
  <select id="queryDictEnteryByTypeCode" resultType="com.gzsys.modules.yun.response.HealthDictEnteryRespones">
  	select a.ID, a.APP_ID, a.DICT_TYPE_ID, a.DICT_ENTRY_CODE, a.DICT_ENTRY_NAME 
  	from HEALTH_DICT_ENTRY a,HEALTH_DICT_TYPE b where
  	a.DICT_TYPE_ID = b.ID and b.DICT_TYPE_CODE = #{code,jdbcType=VARCHAR}
  </select>


</mapper>